*.class
*.DS_store
.classpath
.project
.metadata
.settings
.settings/*
bin
/target
*/target/*
*.log
.idea/*
*.iml
core/build/*
core/out/*
dependency-reduced-pom.xml
classes/
build/
.gradle/*
.ninja_turdle/
.kotlin/
.kotlin/sessions/

dist/*
tools/packr/jdk/*
map_renderings/*
